<div class="dashboard">
  <div class="dashboard-header">
    <div class="dashboard-header-text">
      <h3>Hello, <%= current_user.username %>!</h3>
      <p>Content de te revoir chez nous.</p>
      <p>Consulte tes statistiques, et si le coeur t’en dit... Lance toi dans tes prochaines leçons !</p>
      <p>La communauté est à ta disposition si tu as des questions.</p>
    </div>
    <%= image_tag "boy_dashboard 1.png", alt: "alttext", class: "img-position" %>
  </div>
  <div class="dashboard-card">
    <h3>Les programmes en cours</h3>
    <div class="dashboard-grid">
      <!-- class index-grid is in programs.scss -->
      <% 3.times do%>
        <div class="card-progress">
          <div class="card-progress-header">
            <%= image_tag "messenger.png", alt: "alttext", class: "icon-position"%>
            <div class="card-progress-title">
              hello there. General Kenobi!
            </div>
          </div>
          <div class="card-progress-bar">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <div class="d-block  w-100">
                <div class="progress" style="height: 10px">
                  <div class="progress-bar purple-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                </div>
              </div>
              <div class="d-flex ml-1" style="font-size: 20px; white-space: nowrap;"><span>20%</span></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dashboard-stats">

  </div>
</div>
