// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #E8F4FF;

$light-blue: #6781F7;
$purple: #6E3DC8;
$dark-blue: #243046;
$pink: #DB6AB5;
$white: #F3F9FF;
$blue-grey: #707D96;
$background: #1A2333;
$blue2: #5C7CB8;
