<%= link_to "Nouvelle Conversation", chatrooms_path, class: "btn_square"  %>

<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom) do %>
    <p>Chatroom <%= chatroom.id %> </p>
  <% end %>
<% end %>
