<div class="chat-big-div">
  <div class="chat-header">
    <div class="chat-header-text">
      blabla bliblibli bloblo bleblele hahaha hohoho hihih Squalala
    </div>
    <%= image_tag "chat.png", alt: "let's talk!", class: "chat-icon-position" %>

  </div>
  <div class="chat-body">

    <div class="card-chat">
      <div class="text-chat">
        username | userlevel
      </div>
        <img src="/assets/avatar-8ce3960ebb83efeb7246497bfc891c06e0e538bccd7bbf3dff520dcf9afae20d.png" alt="#" class="avatar-img">
    </div>
  </div>

</div>
