<%= link_to step_path(lesson.get_step(current_user)) do %>
  <div class="card-lesson">
    <%= image_tag "medal.png", alt: "alttext", class: "medal-lesson"%>
    <h4><%= lesson.title %> </h4>
    <p><%= lesson.description %></p>
  </div>
<% end %>

