<div class="dabig-div2">
  <div class="brain-position">
    <%= image_tag "brain.png", alt: "Echec!", width: "400" %>
  </div>
  <div class="deception-text">
    <p>Vous avez <span class="test-score-fail"><%= @quizz_score.number_correct_answer %></span> bonnes réponses.</p>
    <p>Navré, tu es invité à recommencer !</p>
  </div>
  <div class="btn-div">
    <%= link_to "Recommencer", reset_score_quizz_score_path(@quizz_score), method: :patch, class: "btn_round4"  %>
  </div>
</div>
