<div class="dabig-div2">
  <div class="brain-position">
    <%= image_tag "brain.png", alt: "Echec!", width: "400" %>
  </div>
  <div class="deception-text">
    <p>Vous avez <span class="test-score-fail">8*</span> bonnes réponses.</p>
    <p>Félicitations, vous avez débloqué la leçon suivante !</p>
  </div>
  <div class="btn-div">
    <%#= link_to "Leçons", program_path(@program), class: "btn_round4"  %>
  </div>
</div>
