<div class="menu d-flex flex-column">
  <div class="d-flex align-self-start flex-column">
    <%= image_tag("profil.jpg", class:"avatar-small")%>
    <span id="username">Username</span>
  </div>
  <div class="level align-self-center">
    <p>Experience</p>
    <p>Niveau</p>
  </div>
  <div class="menu_links align-self-center d-flex flex-column">
    <a href="">Dashboard</a>
    <a href="">Mon profil</a>
    <a href="">Tous les programmes</a>
    <a href="">Au boulot!</a>
    <a href="">Chat communautaire</a>
  </div>
</div>
