<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="#" class="card-category">
  <div class="card-icon">
    <%= image_tag "graduation-cap.png", class:"card-size" %>
  </div>
  card category
</a>

