<h1>HOME PAGE</h1>

<div class="card-start">
  <div class="card-start-header">
    <%= image_tag "messenger.png", alt: "alttext", class: "icon-position"%>
    <div class="card-start-title">
      hello there. General Kenobi!
    </div>
  </div>
  <div class="card-start-footer">
    Commencer
  </div>
</div>

