.card-category {
  height: 288px;
  width: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  position:relative;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  background-color: $dark-blue;
}

.card-icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 102px;
  background-color: $light-blue;
  border-radius: 20px;
  .card-size {
    height: 64px;
    width: 64px;
  }
}


