.card-category {
   height: 220px;
   min-width: 210px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 20px;
   position:relative;
   font-size: 14px;
   font-weight: 300;
   margin-top: 20px;
   margin-right: 60px;
   background-color: $dark-blue;
   text-align: center;
   padding: 18px;
   p {
    margin-top: 37px;
    font-size: 15px;
    font-weight: 400;
   }
}

.card-icon {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   top: -30px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   width: 80px;
   height: 80px;
   background-color: $light-blue;
   border-radius: 20px;

 .card-size {
   height: 64px;
   width: 64px;
 }
}
