.card-category {
   height: 220px;
   min-width: 210px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 20px;
   position:relative;
   font-size: 14px;
   font-weight: 300;
   margin-top: 20px;
   margin-right: 60px;
   background-color: $dark-blue;
   text-align: center;
   padding: 18px;
   p {
    margin-top: 37px;
    font-size: 15px;
    font-weight: 400;
   }
}

.card-icon {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   top: -30px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   width: 80px;
   height: 80px;
   background-color: $light-blue;
   border-radius: 20px;

  .card-size {
    height: 64px;
    width: 64px;
  }
}

.card-progress {
  height: 142px;
  width: 285px;
  color: white;
  border-radius: 20px;
  position:relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  background-color: #6781F7;

  .card-progress-header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 30px;
  }

  .card-progress-title {
    margin-left: 50px;
  }

  .card-progress-bar {
    margin-top: 15px;
  }
}

.card-progress-medal {
  height: 142px;
  width: 285px;
  color: white;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  background-color: $background;

  .medal {
    position: absolute;
    width: 70px;
    top: -20px;
    right: -25px;
  }

  .card-progress-header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 30px;
  }

  .card-progress-title {
    margin-left: 50px;
  }

  .card-progress-bar {
    margin-top: 15px;
  }
}

.card-start {
  height: 142px;
  width: 285px;
  color: white;
  border-radius: 20px;
  position:relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  background-color: #6781F7;

  .card-start-header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 30px;
  }

  .card-start-title {
    margin-left: 50px;
  }

  .card-start-footer {
    position: absolute;
    bottom: 0px;
    p {
      color: #6E3DC8;
      background-color: white;
      border-radius: 20px;
      text-align: center;
      margin-top: 10px;
      padding: 10px 25px;
      font-weight: 900;
      font-size:14px;
    }
  }
}

.card-locked {
  height: 142px;
  width: 285px;
  color: white;
  border-radius: 20px;
  position:relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  background-color: $blue-grey;

  .card-locked-header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 30px;
  }

  .card-locked-title {
    margin-left: 50px;
  }

  .card-locked-footer {
    position: absolute;
    bottom: 0px;
    p {
      color: #6E3DC8;
      background-color: white;
      border-radius: 20px;
      text-align: center;
      margin-top: 10px;
      padding: 10px 25px;
      font-weight: 900;
      font-size:14px;
    }
  }
}

.icon-position {
  position: absolute;
  top: 15px;
  left: 20px;
}

.card-lesson {
  height: 180px;
  width: 290px;
  color: white;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: $background;

  .medal-lesson {
    position: absolute;
    width: 70px;
    top: -20px;
    right: -25px;
  }
}

.card-lesson-wip {
  height: 180px;
  width: 290px;
  color: white;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: $light-blue;

  .pin-lesson {
    position: absolute;
    width: 70px;
    top: -20px;
    right: -25px;
  }
}

.card-lesson-locked {
  height: 180px;
  width: 290px;
  color: white;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: $blue-grey;

  .picto-locked {
    position: absolute;
    width: 45px;
    top: 10px;
    right: 7px;
  }
}

.card-review {
  height: 140px;
  width: 290px;
  color: white;
  border-radius: 20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: $background;
  .stars {
    width: 20px;
  }
  .review-content {
    width: 300px;
  }
}

.card-chat {
  position: relative;
  width: 50%;
  height: 70px;
  background-color: $background;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
  .text-chat {
    display: flex;
    color: white;
    padding-top: 20px;
    margin-left: 90px;
  }
  .text-chat-name {
    color: white;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .text-chat-lvl {
    color: $light-blue;
    font-weight: bold;
    font-size: 20px;
  }

  .avatar-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 3px solid #6781F7;
    top: -6px;
    left: -10px;
  }
}

