.chatroom2 {
  background: white;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;

}

.chatroom {
  margin: 50px auto;
  color: white;
  width: 70%;
    h2 {
    padding: 1rem 1rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #6781F7;
    font-size: 30px;
    font-weight: 800;
  }
}

#messages {
  margin-top: 50px;
  overflow-y: scroll;
  height: calc(100vh - 475px);
}

#new_message {
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
  }
}
