.footer{
  height: 240px;
  background: $background;
  padding: 40px;
    a{
      &:hover{
        color: #EAEDF2;
      }
    }
}

.footer_logo{
  padding-bottom: 12px;
  border-bottom: 0.2px solid #7e8a97;
  text-align: center;
  img{
    width: 150px;
  }

}

.socials{
  text-align: center;
  color: white;
  padding-top: 15px;
   .fab{
    font-size: 30px;
    margin-right: 10px;
  }
  a{
    color: white;
  }
}

