.container-form {
  background-color: #222831;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 800px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}
body {
  background-color: #EBEDF3;
}
