
.navbar {
 background: $background;
 height: 150px;
 img {
   width: 180px;
   margin-left: 0px;
 }
}

.links-nav {
 justify-content: flex-end;
   color: white;
   text-decoration: none;
   font-weight: 600;
   margin-left: 0px;
   font-size: 14px;
}


.sign-in {
  display: inline-block;
}

.sign-in:after {
 content: "";
 display: block;
 height: 0.2em;
 width: 0%;
 margin-bottom: 9px;
 background-color: white;
 transition: width 0.4s;
}

.sign-in:hover:after {
 width: 100%;
}

.logo {
 justify-content: flex-begin;
}

.on {
 font-size: 18px;
}

.navbar-collapse {
 flex-grow: 0;
}

