
.navbar {
 background: $background;
 height: 150px;
 img {
   width: 180px;
   margin-left: 0px;
 }
}

.links-nav {
 justify-content: flex-end;
 a {
   color: white;
   text-decoration: none;
   font-weight: 600;
   margin-left: 0px;
   font-size: 14px;
   color: white;
   margin-top: 20px;
   :hover {
    border-bottom-width: 2.5px;
    border-bottom-style: solid;
    border-bottom-color: white;
   }
   }
}

.sign-in {
 :hover {
   color: white;
   text-decoration: none;
 }
}

.logo {
 justify-content: flex-begin;
}

.on {
 font-size: 18px;
}

.navbar-collapse {
 flex-grow: 0;
}

