.quiz-big-div {
  width: 1030px;
  margin: 75px auto;
  border-radius: 20px;
  padding-bottom: 50px;
  background-color: $background;
  .quiz-big-div-header {
    background-color: $background;
    top: 0px;
    border-bottom: 0.01rem solid $blue-grey;
    padding-top: 30px;
    margin-left: 50px;
    width: 920px;
    color: white;
    .big-quiz-title {
      margin-top: 45px;
      font-weight: bold;
      color: white;
      font-size: 50px;
    }
    .big-subtitle {
      font-size: 25px;
      color: $light-blue;
      font-weight: bold;
      font-size: 50px;
    }
  }
  .question-number {
    font-size: 40px;
    color: $light-blue;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
  }

  .the-question {
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin-left: 50px;
  }
  .question-block {
    margin-top: 50px;
    .question-grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-column-gap: 35px;
      grid-row-gap: 30px;
    }
    .question-card {
      display: flex;
      align-items: center;
      width: 745px;
      height: 75px;
      background-color: white;
      border-radius: 20px;
      margin-left: 50px;
      .determinant {
        font-size: 40px;
        font-weight: bold;
        color: $pink;
        margin-left: 20px;
      }
      .question {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-left: 15px;
      }
    }
  }
}



/* style for success and fail */


.dabig-div {
  display: flex;
  position: relative;
  width: 940px;
  height: 800px;
  background-color: $background;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  .confetti-position {
    display: flex;
    position: absolute;
    top: 70px;
    right: 275px;
  }
  .congrat-text {
    margin-top: 500px;
    text-align: center;
    flex-grow: 1;
    font-size: 27px;
    font-weight: 600;
    color: white;
    .test-score {
      font-size: 55px;
      color: $light-blue;
    }
  }
  .congrat-text2 {
    margin-top: 900px;
    text-align: center;
    flex-grow: 1;
    font-size: 27px;
    font-weight: 600;
    color: white;
  }
  .btn-div {
    height: 30px;
  }
}

.dabig-div2 {
  display: flex;
  position: relative;
  width: 940px;
  height: 800px;
  background-color: $background;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  .brain-position {
    display: flex;
    position: absolute;
    top: 70px;
    right: 275px;
  }
  .deception-text {
    margin-top: 500px;
    text-align: center;
    flex-grow: 1;
    font-size: 27px;
    font-weight: 600;
    color: white;
    .test-score-fail {
      font-size: 55px;
      color: #FF415B;
    }
  }
  .btn-div {
    height: 30px;
  }
}







